
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: #000;
    overflow-x: hidden;
}

/* Background */
.hero {
    width: 100%;
    height: 100vh;
    
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

body {
    background: url('images/photorealistic-earth-planet.jpg') no-repeat center center/cover;
    background-attachment: fixed;
    font-family: Arial, sans-serif;
    overflow-x: hidden;
}
.content {
    text-align: center;
    color: white;
}

.logo-box img {
    width: 180px;
    margin-bottom: 15px;
}

.logo-box {
    margin-top: -50px;
    background: rgba(233, 232, 232, 0.874); /* light transparent */
    padding: 25px 40px;
    border-radius: 25px;
    backdrop-filter: blur(12px); /* strong glass blur */
    -webkit-backdrop-filter: blur(12px);

    border: 1px solid rgba(255, 255, 255, 0.35); /* glass border */
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.25); /* soft glow */
    display: inline-block;
}

.title {
    font-size: 90px;
    letter-spacing: 3px;
    font-weight: 900;
}

.subtitle {
    font-size: 42px;
    letter-spacing: 2px;
    margin-top: -10px;
}

.sections {
    margin-top: 80px;
    display: flex;
    justify-content: center;
    gap: 180px;
}

.box {
    text-align: center;
}

.icon {
    width: 160px;
    margin-bottom: 10px;
    filter: drop-shadow(0 0 10px rgba(255,255,255,0.4));
    transition: 0.3s;
}

.box h3 {
    font-size: 48px;
    margin-bottom: 20px;
    color: white;
}

.btn {
    padding: 14px 40px;
    border: none;
    border-radius: 40px;
    font-size: 20px;
    cursor: pointer;
    background: rgba(255,255,255,0.8);
    transition: 0.3s;
}

.btn:hover {
    background: white;
    transform: scale(1.05);
}

/* Responsive */
@media (max-width: 900px) {
    .sections {
        flex-direction: column;
        gap: 60px;
    }
    .title { font-size: 60px; }
    .subtitle { font-size: 30px; }
}
